# Laravel & PHP general
/vendor/
.env
.env.*
.phpunit.result.cache
.phpactor.json
Homestead.*
auth.json

# Node & frontend
/node_modules/
npm-debug.log
yarn-error.log
/public/hot
/public/build
/public/storage
/public/flaggedPo

# Laravel storage
/storage/*.key
/storage/*.log
/storage/*.txt
/storage/framework/
storage/logs/
/storage/pail
/storage/debugbar/

# Debugbar
/storage/debugbar
/storage/debugbar/
/storage/debugbar/*.json
storage/debugbar/

# IDEs and editors
/.idea/
/.vscode/
/.nova/
/.fleet/
/.zed/

# Laravel bootstrap cache
/bootstrap/cache/

#EDI files
/public/henryschein